*,*::after,*::before {
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    background:  linear-gradient(to right, hsl(200,100%,50%), hsl(175,100%,50%));
}
.clock {
    width: 300px;
    height: 300px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    position: relative;
}

.clock .number {
    --rotate:0;
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: red; */
    text-align: center;
    padding: 10px;
    transform: rotate(var(--rotate));
}
.number.number1{
    --rotate: 30deg
}
.number.number2{
    --rotate: 60deg
}.number.number3{
    --rotate: 90deg
}.number.number4{
    --rotate: 120deg
}.number.number5{
    --rotate: 150deg
}.number.number6{
    --rotate: 180deg
}.number.number7{
    --rotate: 200deg
}.number.number8{
    --rotate: 230deg
}.number.number9{
    --rotate: 270deg
}.number.number10{
    --rotate: 300deg
}.number.number11{
    --rotate: 330deg
}.number.number12{
    --rotate: 360deg
}

.clock::after{
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    transform: translate(-50%,50%);
    background: black;
    bottom: 50%;
    left: 50%;
    border-radius: 50%;
}

.clock .hand {
    --rotation:0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: black;
    transform: translateX(-50%) rotate( calc(var(--rotation) * 1deg) );
    transform-origin: bottom;
}

.hand.seconds{
    width: 3px;
    height: 40%;
    background: red;
}
.hand.minutes{
    width: 5px;
    height: 35%;
    background: #000;
}
.hand.hour{
    width: 8px;
    height: 30%;
    background: #000;
}