*,*::before,*::after{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(255, 255, 255);
}
.nav {
    position: relative;
    background-color: white;
    box-shadow: 0px 0px 10px gray;
    height: 100vh;
}
.nav__expand {
    width: 1em;
    height: 1em;
    font-size: 3em;
    background-color: white;
    fill: gray;
    box-shadow: 0px 0px 10px solid gray;
    border-radius: 50%;
    position: absolute;
    top: 1rem;
    /* right: -1rem; */
    z-index: 99;
    cursor: pointer;
    transform: rotate(-180deg);
    
}